body {
  background: linear-gradient(135deg,#111,#222);
  color: white;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background: #000000cc;
  padding: 20px;
  border-radius: 12px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.logo {
  width: 120px;
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  margin: 6px 0;
  padding: 8px;
}
